# Compiled class file
*.class
.classpath
.settings
.project
*.iml
*.iws
*.ipr
.idea
.DS_Store
.factorypath

# Log file
*.log
	@@ -21,3 +30,9 @@

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Ignore everything in this directory
target

.openapi-generator-ignore
.openapi-generator/
